<section class="hero is-fullheight is-flex is-align-items-center is-justify-content-center">
  <div class="has-text-centered">
    <h1 class="title is-1 has-text-primary">SealAI</h1>
    <p class="subtitle is-4">Validación inteligente de sellos de exportación</p>
    <a href="#" class="button is-primary is-large mt-5">Validar Sello</a>
  </div>
</section>
