<section class="hero is-fullheight is-flex is-align-items-center is-justify-content-center hero-sealai">
  <div class="has-text-centered">
    <h1 class="title is-1 has-text-primary">SealAI</h1>
    <p class="subtitle is-4">Validación inteligente de sellos de exportación</p>
    <%= link_to "Validar Sello", validar_sello_path, class: "button is-primary is-large mt-5", data: { turbo: false } %>
  </div>
</section>
