<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-3">Resultado</h1>
    <p class="subtitle is-6">Aquí mostraremos el estado de la validación.</p>
    <%= link_to "Volver al inicio", root_path, class: "button is-light mt-4" %>
  </div>
</section>